/* Main StyleSheet file for toffee */

/*===================================
	Base color used in toffee
	eyeshadow:			#CFFFDD
	Fringy Flower:		#B4DEC1
	Scarpa Flow:		#5C5863
	Cadillac:			#A85163
	Radical Red:		#FF1F4C	
===================================*/

body {
	background: #5C5863;
}

#container {
	width: 960px;
}

#logo {
	width: 120px;
	height: 75px;
	background: #FF1F4C;
	font-family: 'Permanent Marker', arial, serif;
	float: none;
	-webkit-box-shadow: 3px 5px 10px #000;
}

#font {
	width: 110px;
	height: 70px;
	margin: 0 auto;
	border: 1.5px dashed #fff;
	border-top: none;
}

#font h1{
	color: #fff;
	line-height: 2.5em;
	font-size: 2em;
	text-align: center;
	text-shadow: 0 2px 0px #000;
}

#intro {
	position: relative;
	float: left;
	width: 100%;
	height: 400px;
	background: #fff;
}